/* Main part and settings */
* {
    font-family: ptsans;
    margin: 0;
    padding: 0;    
}
/* Hover */
/* Page header */
.page-header-nav-opts:hover {
    background-image: linear-gradient(to right, rgba(161, 161, 161, 0.231),rgba(161, 161, 161, 0.281),rgba(161, 161, 161, 0.231) );
    cursor: pointer;
}
.page-header-upper-opts:hover {
    text-decoration: underline;
    background-image: linear-gradient(to right, rgba(161, 161, 161, 0.231),rgba(161, 161, 161, 0.281),rgba(161, 161, 161, 0.231) );
    cursor: pointer;
}
.noHover {
    pointer-events: none;
}