<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{url_for('static', filename='css/base_header_style.css')}}"/>
        <link rel="stylesheet" href="{{url_for('static', filename='css/base_header_style_hover.css')}}"/>
        <title>
            PitrDev - 
            {% block title %}
                Base
            {% endblock %}
        </title>
    </head>
    <body>
        <div>
            <div class="page-header-div">
                <div class="page-header-upper-div">
                    <div class="page-header-upper-opts">
                        {% block page_header_upper_opt1 %}
                            <p>
                                Sign Up
                            </p>
                        {% endblock %}
                    </div>
                    <div class="page-header-upper-opts">
                        {% block page_header_upper_opt2 %}
                            <p>
                                Login
                            </p>
                        {% endblock %}
                    </div>
                    <div class="page-header-upper-opts">
                        {% block page_header_upper_opt3 %}
                            <p>
                                Settings
                            </p>
                        {% endblock %}
                    </div>
                </div>
                <hr class="page-header-separator gradient-background">
                <div class="gradient-text">
                    <div class="page-header-title-div">
                        <div class="gradient-text">
                            <p class="page-header-title">
                                <b>
                                    <span class="page-header-title-main">
                                        PitrDev 
                                    </span>
                                </b>
                            </p>
                        </div>
                    </div>
                    <hr class="page-header-separator gradient-background">
                    <div class="page-header-nav-div">
                        {% block page_header_nav_opt1 %}
                            <a class="page-header-nav-opts" href="/home">
                                <b>
                                    Home
                                </b>
                            </a>
                        {% endblock %}
                        {% block page_header_nav_opt2 %}
                            <a class="page-header-nav-opts" href="/info">
                                <b>
                                    Informations
                                </b>                            
                            </a>
                        {% endblock %}
                        {% block page_header_nav_opt3 %}
                            <a class="page-header-nav-opts" href="/showcase">
                                <b>
                                    Showcase
                                </b>                            
                            </a>
                        {% endblock %}
                        {% block page_header_nav_opt4 %}
                            <a class="page-header-nav-opts" href="/contact">
                                <b>
                                    Contact
                                </b>                        
                            </a>
                        {% endblock %}
                    </div>
                </div>
            </div>
            <div class="page-header-image-div">
                <span></span>
            </div>
        </div>
    </body>
</html>