<div>
    <div class="info-subsite-main-div">
        <div class="info-subsite-title-1">
            <h1 style="margin: 0 25px">
                WHO AM I?
            </h1>
        </div>
        <div class="info-subsite-part-1">
            <p class="info-subsite-p-1" style="margin: 25px 25px">
                Hi! My name is Peter and I'm 17 years old. Right now I'm student
                and learning how to be architect. I'm in seccond grade 
                and I'm pretty comfy with my choice of future profession. Also I'm
                self-learned programmer, but still I need some time learning stuff.
                I'm coding mainly in Python, my seccond language is Java. Also I know
                some Basics of Lua, C++ and JavaScript. On top of that I know some basic
                stuff like CSS and HTML5 and this site is completly made by me, as my project.
            </p>
            <div class="img-padding" style="margin: 0px 25px">
                <img src="../../static/css/images/subsite-images/info-subsite-img1.jpg" alt="img2" class="info-subsite-img-1">
            </div>
        </div>
        <div class="breaker"></div>
        <div class="info-subsite-title-2">
            <h1 style="margin: 0 25px">
                WHAT CAN I DO?
            </h1>
        </div>
        <div class="info-subsite-part-2">
            <div class="img-padding" style="margin: 0px 25px">
                <img src="../../static/css/images/subsite-images/info-subsite-img2.jpg" alt="img2" class="info-subsite-img-2">
            </div>
            <p class="info-subsite-p-2" style="margin: 25px 25px">
                Hi! my name is Peter and I'm 17 years old. Right now I'm student of
                construction school learning how to be architect. I'm in seccond grade 
                and I'm pretty comfy with my choice of future profession. Also I'm
                self-learned programmer, but still I need some time learning stuff.
                I'm coding mainly in Python, my seccond language is Java. Also I know
                some Basics of Lua, C++ and JavaScript. On top of that I know some basic
                stuff like CSS and HTML5, so this site is completly made by me.
            </p>
        </div>
    </div>
    <div class="breaker"></div>
    <div class="breaker"></div>
</div>